$text-color: #636363;
$link-color: #40E0D0;

p {
	font-family: 'Raleway', sans-serif;
	color: $text-color;
}

span {
	font-family: 'Raleway', sans-serif;
	color: $text-color;
}

ul {
	font-family: 'Raleway', sans-serif;
	color: $text-color;
}

a {
	font-family: 'Raleway', sans-serif;
	color: $text-color;
	&:link {
		color: $text-color;
	}
	&:visited {
		color: $text-color;
	}
	&:hover {
		color: $link-color;
		text-decoration: none;
	};
}

#title {
	text-align: center;
	font-size: 60px;
	-webkit-animation-duration: 4s;
	letter-spacing: 7px;
}

#github {
	text-align: center;
	font-size: 40px;
	-webkit-animation-duration: 1s;
}

.featuredTitle {
	text-align: center;
	font-size: 24px;
	margin-bottom: 0px;
	&:hover {
		text-decoration: none;
	};
}

.featuredDemo {
	text-align: center;
	&:hover {
		text-decoration: none;
	};
}
.container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.list {
	padding-left: 20px;
}
